.header {
    position: sticky;
    z-index: 99;
    top: 0;
    
    background: var(--background-color-regular);
    box-shadow: 0 -1px 0 var(--background-color-regular), 0 var(--line-size) 0 rgba(0,0,0,.13), 0 5px 15px rgba(0,0,0,.07);
}

.header[data-pinned='false'] {
    background: transparent;
    backdrop-filter: none;
    box-shadow: none;
}
.header[data-pinned='true'] {
    transition: box-shadow .2s ease-in-out;
}

@supports (backdrop-filter: none) {
	.header {
        background: radial-gradient(circle, hsla(var(--background-hsl-regular), .8) 90%, var(--background-color-regular) 100%);
        backdrop-filter: blur(20px);
	}
}

.inner {
    width: var(--page-width);
    margin: 0 auto;
    padding: calc(var(--padding-regular) + var(--padding-small)) 0;
    
    display: grid;
    grid-template-areas: 'title buttons';
    grid-template-columns: 1fr max-content;
    grid-gap: var(--padding-large);
}

.title {
    grid-area: title;
    min-width: 0;
}

.title h1,
.title h2 {
    margin: 0;
    padding: 0;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    grid-gap: calc(var(--padding-regular) + var(--padding-small));
    align-items: center;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title h2 {
    color: var(--text-color-secondary);
    padding-bottom: var(--padding-regular);
    grid-gap: var(--padding-regular);
}

.title h2 a {
    color: inherit;
    display: block;
}

.buttons {
    white-space: nowrap;
    grid-area: buttons;

    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--padding-large);
}