.toolbar {
    position: relative;
    overflow: hidden;
}
.toolbar:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    right: 0;
    box-shadow: 0 var(--line-size) 0 var(--line-color);
    height: 1px;
    z-index: -1;
    opacity: .7;
}

.inner {
    width: var(--page-width);
    margin: calc(var(--padding-regular) + var(--padding-small)) auto;
    padding: 1px;

    display: flex;
    gap: calc(var(--padding-regular) + var(--padding-small));
    flex-wrap: wrap;

    height: calc(var(--button-size-regular) + 2px);
    overflow: hidden;
}

.inner:empty {
    display: none;
}