:root {
    --padding-large: 18px;
    --padding-regular: 10px;
    --padding-small: 3px;

    --font-size-h1: 24px;
    --font-size-h2: 20px;
    --font-size-regular: 17px;
    --font-size-small: 15px;
    --font-size-micro: 13px;

    --icon-size-large: 32px;
    --icon-size-regular: 24px;

    --button-size-large: 48px;
    --button-size-regular: 32px;
    --button-size-small: 24px;
    --line-size: 1px;

    --border-radius: 3px;

    --background-hsl-regular: 0,0%,100%;
    --background-color-regular: hsl(var(--background-hsl-regular));
    --background-color-secondary: #F3F5F6;

    --text-color-secondary: #70767A;
    --line-color: rgba(0,0,0,.15);
}

/* Small screen */
@media screen 
and (max-width: 1000px)
and (min-device-width: 1000px) {
    :root {
        --padding-large: 16px;
        --padding-regular: 8px;
        --padding-small: 4px;

        --font-size-h1: 20px;
        --font-size-h2: 17px;
        --font-size-regular: 15px;
        --font-size-small: 14px;
        --font-size-micro: 12px;

        --icon-size-large: 24px;
        --icon-size-regular: 18px;

        --button-size-large: 32px;
        --button-size-regular: 24px;
        --button-size-small: 18px;
    }
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
    :root, [data-app-size] {
        --line-size: .5px;
    }
}

html, body, #__next {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: var(--font-size-regular);
    line-height: 1.3;    
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 700;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: normal;
}