.short {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
    white-space: nowrap;
    padding-bottom: var(--padding-large);
    box-shadow: 0 var(--line-size) 0 var(--line-color);
}

.items {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.masked {
    mask-image: linear-gradient(to right, white 85%, transparent);
    padding-right: 15%;
}

.items > :not(:last-child) {
    margin-right: calc(var(--padding-large) * 2);
}

.expand {
    padding-top: var(--padding-small);
    padding-left: var(--padding-large);
    padding-right: 1px;
}

.expandButton {
    border-radius: var(--border-radius-regular);
}