.page {
    padding: 0 var(--padding-large);
    padding-bottom: var(--padding-large);
    min-height: 100%;

    display: flex;
    flex-direction: column;
    width: min(100%, 900px);
    margin: 0 auto;
}

.page[data-full='true'] {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .page {
        width: 100% !important;
    }
}