.pagination {
    display: grid;
    grid-template-columns: 1fr auto;
}

.pages {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--button-size-regular));
    grid-template-rows: 1fr;
    grid-gap: var(--padding-large);
}

.page {
    width: var(--button-size-regular);
    justify-content: center;
    text-align: center;
}

.navigation {
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--padding-large);
}