.button {
    user-select: none;
    appearance: none !important;
    background: transparent;
    border: 0;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;

    height: var(--this-button-size);
    line-height: var(--this-button-size);
    border-radius: var(--this-button-size);

    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: var(--padding-regular);
    align-items: center;
    justify-content: start;

    padding: 0 var(--padding-regular);
    transition: background .1s linear, box-shadow .1s linear;
}

.button[data-block='true'] {
    display: grid;
    justify-content: center;
}

/* size */
.button[data-size='regular'] {
    --this-button-size: var(--button-size-regular)
}

.button[data-size='small'] {
    --this-button-size: var(--button-size-small);
    font-size: var(--font-size-small);
    font-weight: 600;
}

.button[data-size='large'] {
    --this-button-size: var(--button-size-large);
}

.button[data-single-icon='true'] {
    padding: 0;
    justify-content: center;
    width: var(--this-button-size);
}

/* colors */
.button[data-color='secondary'] {
    color: var(--text-color-secondary);
}

.button[data-color='regular'] {
    color: var(--text-color-regular);
}

/* variants */
.button[data-variant='regular'] {
    background: var(--background-color-regular);
    box-shadow: 0 0 0 var(--line-size) var(--line-color);
}
.button[data-variant='regular']:hover {
    box-shadow: 0 0 0 var(--line-size) var(--line-color), 0 var(--line-size) 2px var(--line-color);
}

.button[data-variant='regular']:active,
.button[data-variant='flat']:hover {
    background: var(--background-color-secondary);
    box-shadow: 0 0 0 2px var(--background-color-secondary);
}

.button[data-size='small'][data-variant='flat'] {
    padding-left: 0;
    padding-right: 0;
    border-radius: var(--border-radius);
}

.button[data-variant='active'] {
    background: var(--accent-color);
    color: var(--background-color-regular);
}

.button[data-variant='disabled'] {
    pointer-events: none;
    background: var(--background-color-disabled);
    color: var(--text-color-disabled);
}

/* group */
.buttons {
    display: flex;
}
.buttons .button:not(:last-child) {
    margin-right: calc(var(--padding-regular) + var(--padding-small));
}